.cabecera {
    align-items: center;
    background: linear-gradient(to right, rgba(255,0,0,0), rgb(92, 51, 51));
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
}

.logo_restaurante {
    width: 250px;
    height: 250px;
    filter: brightness(1.1rem);
    mix-blend-mode: multiply;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .cabecera .llamada {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu-item .menu-link .menu-lista {
        display: inline-block;
        justify-content:space-around;
        font-size: .5rem;
        min-width: 600px;
    }
}