.llamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--background-blanco);
    text-align: center;
    background-color: var(--background-llamada-mobile);
    padding-top: .25rem;
    padding-bottom: 2rem;

    box-sizing: border-box;
}

.llamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1rem;

    box-sizing: border-box;
}

.llamada__texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto .5rem;

    box-sizing: border-box;
}

